* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #161639;
  font-family: 'Inter', sans-serif;
}
.hero {
  width: 1440px;
  height: 900px;
}
.navbar {
  display: flex;
  height: 97px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 120px;
}
.logo-main {
  width: 54px;
  height: 33px;
}
.logo-name {
  width: 113px;
  height: 21px;
  padding-left: 10px;
  padding-top: 5px;
}
.menu-names {
  display: flex;
  width: 684px;
  height: 24px;
  gap: 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  align-items: center;
}
.menu {
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  padding-left: 250px;
}
ul .menu-names {
  padding-top: 36px;
  padding-left: 378px;
}
.menu-names a {
  text-decoration: none;
  color: var(--primary-color);
}
.dropdown {
  width: 14px;
  height: 14px;
}
/* hero-main */
.hero-main {
  display: flex;
  width: 648px;
  height: 336px;

  gap: 48px;
}
.hero-menu {
  padding-top: 156px;
  padding-left: 120px;
}
.hero-img {
  padding-top: 83px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  width: 648px;
  height: 232px;
  gap: 24px;
}
.hero-text .text-1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2.5%;
}
.hero-text .text-2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}
.img-1 {
  width: 316px;
  height: 56px;
  gap: 16px;
  margin-top: 40px;
}
.customer-logo {
  width: 1440px;
  height: 92px;
  padding-left: 120px;
}
.customer-main {
  display: flex;
  width: 1200px;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  list-style: none;
  justify-content: space-between;
}
/* features */
.container {
  width: 1440px;
  height: 1466px;
  padding-top: 100px;
  padding-right: 120px;
  padding-bottom: 100px;
  padding-left: 120px;
}
.features {
  width: 1200px;
  height: 1266px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.section-heading {
  width: 575px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 300px;
}
.section-heading .text-1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5%;
  text-align: center;
}
.section-heading .text-2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.feature1 {
  width: 1154px;
  height: 491px;
  display: flex;
  gap: 120px;
}
.main-1 .main-img-1 {
  width: 500px;
  height: 491px;
}
.main-2 .main-img-2 {
  width: 518px;
  height: 491px;
}
.feature2 {
  width: 1172px;
  height: 491px;
  display: flex;
  gap: 120px;
}
.feature1 .main-1 {
  width: 534px;
  height: 436px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.feature2 .main-2 {
  width: 534px;
  height: 408px;
  gap: 48px;
  display: flex;
  flex-direction: column;
}
.info-text1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
}
.info-text2 {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}
.info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.promotion {
  width: 1440px;
  height: 664px;
}
.frame1 {
  width: 1200px;
  height: 464px;
  padding-top: 100px;
  padding-left: 119px;
  position: relative;
  display: inline-block;
  width: fit-content;
}
.frame1-img {
  background: #4f7ef7;
  border-radius: 24px;
}
.bottom-img {
  position: relative;
  display: block;
}
.top-img {
  position: absolute;
  width: 436px;
  height: 517px;
  top: -7px;
  left: 187px;
}
button {
  border-radius: 8px;
  background: #ffffff;
  width: 136px;
  height: 56px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  gap: 8px;
  color: #4f7ef7;
}
button btn-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #4f7ef7;
  border-color: #4f7ef7;
}
.over-text {
  position: absolute;
  width: 510px;
  height: 312px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  top: 180px;
  left: 680px;
}
.over-text .text1 {
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5%;
}
.over-text .text2 {
  color: #fff;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}
.intro {
  width: 1440px;
  height: 998px;
  padding-top: 100px;
  padding-right: 120px;
  padding-bottom: 100px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.intro-main {
  width: 1200px;
  height: 798px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.intro .section-heading .text-2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #50506a;
}
.container-main {
  width: 1200px;
  height: 594px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}
.cont-frame {
  display: flex;
  gap: 50px;
}
.frame-main {
  width: 576px;
  height: 272px;
  gap: 24px;
  border-radius: 24px;
  padding: 48px;
  background: #4f7ef712;
  display: flex;
  flex-direction: column;
}
.main-text {
  width: 500px;
  height: 104px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.main-text-1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
  width: 234px;
  height: 40px;
  margin-bottom: 8px;
}
.main-text-2 {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  width: 316px;
  height: 56px;
  color: #50506a;
}
